* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2em;
    background-color: #f1f1f1;
}

h3{
    font-size: 1.5em;
    margin: 30px auto;
}

h4 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 26px;
}

p {
    color: #888;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

ul, ol {
    padding-left: 20px ;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.ingredientsList li {
    margin: 10px auto auto 40px;
}

ol {
    padding-bottom: 50px;    
    padding-left: 40px;
}

ol li {
    margin-top: 20px;
}

.wrapper {
    width: 40%;
    min-width: 800px;
    margin: auto 30% auto 30%;
    text-align: left;
}

.main-header {
    font-family: 'Comfortaa', cursive;
    color: #f1f1f1;
    text-shadow: 8px 2px 4px #000000;
    font-size: 8em;
    margin: 40px;
}

ul.main-recipes {
    border-radius: 30px;
    text-align: left;
}

ul.main-recipes li > :first-child {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul.main-recipes li img {
    width: 100%;
    height: 100%;
}

.main-recipe-content {
    display: flex;
    width: 33vw;
    flex-direction: column;
    margin: -20px 70px;
    padding: 0;
}

.main-recipe-content p, 
.main-recipe-content a {
    padding: 0;
}

.main-recipe-content p > span {
    float: right;
    font-size: 1.5em;
    font-weight: bolder;
    color: #f1e8e8;
    margin-top: -20px;
}

.main-recipes li, a {
    list-style: none;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px 30px 50px;
    transition: all 0.2s;
}

hr {
    border: solid 1px #f1f1f1;
    width: 98%;
    margin: auto;
}

.title-header {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 5em;
    font-weight: 500;
    margin: 20px auto;
}

.recipe-wrapper {
    width: 40%;
    margin: auto;
}

.recipe-wrapper p {
    background-color: #f1f1f1;
}

img {
    width: 90%;
    height: 50%;
}

.footer {
    font-family: 'Comfortaa', cursive;
    position: fixed;
    bottom: 5px;
    width: 100vw;
    text-align: center;
}